<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Shop</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <script>

        let pid;

        function onApplyClick(productId)
        {
            document.getElementById("ApplyDialogue").showModal();
            pid=productId;
        }

        async function onConfirmClick()
        {
            document.getElementById("ApplyDialogue").close();
            //make request to save the product agaisnt the user
            const response =await fetch('/addproduct?pid='+pid,{method:"POST"});
            document.getElementById("SucessDialogue").showModal();

        }

        function onCancelClick()
        {
            window.location.href="/menu"
        }
    </script>
</head>
<body>
<div class="Apply">
    <div class="ApplyHeader">
        <div class="backimg">
            <button onclick=history.back()>
                <img th:src="@{/images/back.png}">
            </button>
        </div>
        <div>
            <h1>Apply</h1>
        </div>
        <div>
        </div>
    </div>
    <div class="Products">
        <div class="Product" th:each="product: ${products}">
            <h2><span th:text="${product.productName}"></span></h2>
            <p>Monthly Fee : R<span th:text="${product.monthlyFee}"></span></p>
            <div class="ApplySection">
                <button th:data-name="${product.id}" th:onclick="onApplyClick(this.getAttribute('data-name'))">Apply
                </button>
            </div>
        </div>
    </div>
</div>
<dialog id="ApplyDialogue">
    <div class="dailog">
        <h2>Do you want to apply for this product</h2>
        <div class="ConfirmationButtons">
            <button onclick="onCancelClick()">
                Cancel
            </button>
            <button onclick="onConfirmClick()">
                Confirm
            </button>
        </div>
    </div>
</dialog>
<dialog id="SucessDialogue">
    <div class="dailog">
        <h2>Product has been registered to user account</h2>
        <div class="ConfirmationButtons">
            <button onclick="onCancelClick()">Ok</button>
        </div>
    </div>
</dialog>
</body>
</html>