<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Shop</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="Sucess">
    <div class="SucessHeader">
        <div class="backimg">
            <button onclick=window.location.href="/menu">
                <img th:src="@{/images/back.png}">
            </button>
        </div>
    </div>
    <div class="SucessBody">
        <div class="Confirmation">
            <h1>Product H=has been registered to user account</h1>
        </div>
    </div>
</div>
</body>
</html>