<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Shop</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="ViewProducts">
    <div class="ViewProductsHeader">
        <div class="backimg">
            <button id="go-back" onclick="history.back()"><img th:src="@{/images/back.png}"></button>
        </div>
        <h1>View Selected Products</h1>
        <div></div>
    </div>
    <div class="UserSelectedProducts">
        <div class="Product" th:each="product: ${products}">
            <h2><span th:text="${product.productName}"></span></h2>
            <p>Monthly Fee : R<span th:text="${product.monthlyFee}"></span></p>
        </div>
    </div>
</div>
</body>
</html>