.LoginScreen {
    height: 100vh;
    margin-top:auto;
    margin-bottom:auto;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.LoginBox {
    background-color: #009999;
    color: white;
    padding: 20px;
    width: 250px;
    height: 350px;
    box-shadow: 8px 8px 16px 0px #888888;
    text-align: center;
}

.LoginBox>form{
    height:250px;
}

.LoginBox > form > div {
    margin-top:40px;
    height: 100%;
    align-items:center;
}
.LoginBox input {
    width: 300px;
    font-size: larger;
    margin-left:auto;
    margin-right:auto;
}

.LoginBox button {
    margin-top: 10px; /* Optional, adds space between the button and input */
}

.Menu
{
    width:100%;
    text-align:center;
}

.MenuOptions{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.MenuOptions>div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#009999;
    box-shadow: 8px 8px 16px 0px #888888;
    color:white;
    height:200px;
    width:200px;
    transition: transform 0.3s ease;
}

.MenuOptions>div:hover {
    transform: scale(1.1); /* Increase the size by 10% */
}

.ViewProducts{
}


.backimg>button{
    width:30px;
    height:30px;
    margin-left:5px;
    border-style:none;
    background-color:white;
}

.backimg>div{
    transition: transform 0.3s ease;
}

.backimg>div:hover{
    transform:scale(1.1);
}

.backimg>button>img
{
    width:24px;
    height:24px;
}

.ViewProductsHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.UserSelectedProducts{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.Product{
    width:250px;
    padding:10px;
    border-style:solid;
    border-width:1px;
    box-shadow: 8px 8px 16px 0px #888888;
    margin:10px 0px;
}

.Product>h2{
    font-weight:normal;
}

.ApplyHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.ApplySection
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.Products{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ApplySection>form> button
{
    width:75px;
}

.Confirmation{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-style:solid;
    border-width:1px;
    padding:10px;
    text-align:center;
    box-shadow: 8px 8px 16px 0px #888888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:375px;
    height:170px;
}

.ConfirmationButtons
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.ConfirmationButtons>button
{
    width:85px;
    height:25px;
    font-size:larger;
}


